In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

User: includes an ID, age, sex, and country.

Condition: an illness or diagnosis, for example Rheumatoid Arthritis, rated on a scale of 0 (not active) to 4 (extremely active).

Symptom: self-explanatory, also rated on a 0–4 scale.

Treatment: anything a patient uses to improve their symptoms, along with an optional dose, which is a string that describes how much they took during the day. For instance “3 x 5mg”.

Tag: a string representing an environmental factor that does not occur every day, for example “ate dairy” or “rainy day”.

Food: food items were seeded from the publicly-available USDA food database. Users have also added many food items manually.

Weather: weather is pulled automatically for the user's postal code from the Dark Sky API. Weather parameters include a description, precipitation intensity, humidity, pressure, and min/max temperatures for the day.

HBI: the Harvey Bradshaw Index is a standardized metric to gauge the severity of Crohn's disease specifically, often used in evaluation of therapies. Patients with Crohn's disease who scored 3 or less on the HBI are very likely to be in remission according to the CDAI. Patients with a score of 8 to 9 or higher are considered to have severe disease.

In [5]:
df = pd.read_csv('Datasets/export.csv')
df_start = df

C:\Users\timbl\AppData\Local\Temp\ipykernel_11740\3949603308.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Datasets/export.csv')

In [4]:
df

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
0,QEVuQwEABlEzkh7fsBBjEe26RyIVcg==,NaN,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0
1,QEVuQwEAWRNGnuTRqXG2996KSkTIEw==,32.0,male,US,2015-11-26,1069,Condition,Ulcerative colitis,0
2,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4
3,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3169,Condition,hip pain when gettin up,3
4,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3170,Condition,pain in hand joints,4
...,...,...,...,...,...,...,...,...,...
7976218,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,1,Tag,tired,NaN
7976219,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,2,Tag,stressed,NaN
7976220,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,9002,Food,soup,NaN
7976221,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,9139,Food,yogurt,NaN
7976222,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,10260,Food,granola,NaN

In [7]:
df.shape
df.isnull().sum()

user_id                 0
age                309226
sex                132135
country            297985
checkin_date            0
trackable_id            0
trackable_type          0
trackable_name          1
trackable_value    926855
dtype: int64

In [8]:
df.dropna(inplace=True)

In [10]:
df.shape
df.describe()

                age
count  6.540897e+06
mean   3.505384e+01
std    7.965464e+01
min   -1.966910e+05
25%    2.600000e+01
50%    3.400000e+01
75%    4.200000e+01
max    2.018000e+03

In [19]:
df = df[df.age>0]
df = df[df.age<110]
df.describe()

                age
count  6.540515e+06
mean   3.500274e+01
std    1.172145e+01
min    1.000000e+00
25%    2.600000e+01
50%    3.400000e+01
75%    4.200000e+01
max    9.900000e+01

1.0